{% extends 'layout/base.html' %}

{% block title %}THANH TOÁN HÓA ĐƠN{% endblock %}

{% block content %}
<!--<h1 class="text-center text=info">XIN CHAO NHAN VIEN THU NGAN</h1>-->

<div class="cen">
    <div class="payment-form abc">
        <h2>THANH TOÁN HÓA ĐƠN</h2>
        <div class="d-flex">
            <div style="color: #567189">Thông tin bệnh nhân</div>
            <div class="hr-width">
                <hr>
            </div>
        </div>
        <form id="invoice-payment-form">
            <div style="margin: 10px">
                <span for="benhNhanId">Mã bệnh nhân: </span><span class="required-color">*</span>
                <input type="text" id="benhNhanId" name="benhNhanId" required placeholder="VD: BN000">
            </div>
            <div class="d-flex mb-2 input-info">
                <div style="margin: 10px 10px">
                    <span for="ho">Họ:</span>
                    <input type="text" id="ho" name="ho" step="0.01" required placeholder="VD: Nguyễn">
                </div>
                <div style="margin: 10px 20%">
                    <span for="ten">Tên:</span><span class="required-color">*</span>
                    <input type="text" id="ten" name="ten" step="0.01" required placeholder="VD: Văn A">
                </div>
            </div>
            <div style="margin: 10px">
                <span for="diaChi">Địa chỉ: </span><span class="required-color">*</span>
                <input type="text" id="diaChi" name="diaChi" required
                       placeholder="số nhà, xã(phường), quận(huyện), Thành phố">
            </div>
            <div class="d-flex mb-2" style="margin-left: 2%">
                <form>
                    <div class="mb-3" style="margin-right: 10%;">
                        <span for="ngaySinh" class="form-label">Chọn ngày sinh:</span><span
                            class="required-color">*</span>
                        <input type="date" class="form-control" id="ngaySinh" name="ngaySinh">
                    </div>
                </form>
                <div style="margin: 2% 0% 0% 14%;">
                    <span>Giới tính</span><span class="required-color">*</span>
                    <div class="d-flex rd-margin">
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" value="Nam"
                                       id="nam" checked>
                                <label class="form-check-label" for="nam">
                                    Nam
                                </label>
                            </div>
                        </div>

                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" value="Nữ"
                                       id="nu">
                                <label class="form-check-label" for="nu">
                                    Nữ
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 2%">
                <div class="d-flex">
                    <div style="color: #567189">Thông tin thanh toán</div>
                    <div class="hr-width">
                        <hr>
                    </div>
                </div>

                <form>
                    <div class="mb-3 mt-3" style="margin-right: 10%;">
                        <span for="ngaykham" class="form-label">Chọn ngày khám:</span><span
                            class="required-color">*</span>
                        <input type="date" class="form-control" id="ngayKham" name="ngaykham">
                    </div>
                </form>
                <div class="d-flex mb-2 input-info">
                    <div style="margin: 10px 0">
                        <span for="tienKham">Tiền khám:</span><span class="required-color">*</span>
                        <input type="text" id="tienKham" name="tienKham" step="0.01" value="100000" readonly>
                    </div>
                    <div style="margin: 10px 20%">
                        <span for="tienThuoc">Tiền thuốc:</span><span class="required-color">*</span>
                        <input type="text" id="tienThuoc" name="tienThuoc" step="0.01" required
                               placeholder="Tiền thuốc (VND) ">
                    </div>
                </div>
                <div class="d-flex">
                    <div class="payment-total">
                        <span for="tongTien">Tổng tiền:</span><span class="required-color">*</span><br>
                        <div class="p-format" >
                            <p id="tongTien"></p>
                        </div>
                    </div>
                    <div style="margin: 6% 0 4% 5%;">
                        <button id="btnTinhTong" onclick="tinhTongTien()" class="btn btn-success">Tính tổng</button>
                    </div>
                </div>
            </div>
            <div class="d-flex" style="justify-content: space-around;">
                <button type="submit" id="btnLuuHD" onclick="luuHoaDon()" class="btn btn-primary">Lưu hóa đơn</button>
                <button type="submit" onclick="xuatHoaDon()" class="btn btn-primary">Xuất hóa đơn</button>
            </div>

        </form>
    </div>

</div>


{% endblock %}