<nav class="navbar navbar-expand-sm bg-white navbar-white border border-4 border-dark rounded">
    <div class="container-fluid">
        <a class="navbar-brand text-success" href="#">PHÒNG MẠCH TTV</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="/">Trang Chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">Liên Hệ</a>
                </li>
                <!--        <li class="nav-item">-->
                <!--          <a class="nav-link" href="#">Link</a>-->
                <!--        </li>-->
            </ul>
            <div class="mt-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item ">
                        <a class="nav-link text-success border border-4 border-success rounded" padding="5px" href="/login">Đăng Nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning border border-4 border-warning rounded" padding="5px">Đăng Ký</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>